name: Synchronize Labels
on:
  workflow_dispatch

jobs:
  sync_labels:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Use Node.js 16.x
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 16.x
    - name: Install github-label-sync
      run: npm install -g github-label-sync
    - name: Run github-label-sync
      run: sh ./sync-labels.sh
      env:
        gh_token: ${{ secrets.PROJECT_ACCESS_TOKEN }}
