name: Synchronize Labels
on:
  workflow_dispatch

jobs:
  sync_labels:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Use Node.js 16.x
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 16.x
    - name: Install github-label-sync
      run: npm install -g github-label-sync
    - name: Run github-label-sync
      run: sh ./sync-labels.sh
      env:
        gh_token: ${{ secrets.PROJECT_ACCESS_TOKEN }}
